* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(background\ kelas\ .png);
    background-size: 882px;
    padding: 10px;

}

#logo-kelas {
    aspect-ratio: 1/1;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

nav {
    background-color: rgba(200, 198, 198, 0.89);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 10% / 50%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 6%;
    list-style: none;
    position: relative;
    left: -50px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: black;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(199, 30, 174, 0);
}

nav ul li a:hover {
    color: rgb(199, 30, 174);
    border-bottom: 1px solid rgb(199, 30, 174);
}

.search {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9ef;
    padding: 1%;
    border-radius: 32px;
    box-shadow: rgba(100, 100, 111, 0, 2) 7px 29px 0px;

}

.search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 0px;
    transition: 0.5s;
    transition-duration: 500ms;
}

.search:hover input {
    width: 200px;
}

#search-logo {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    aspect-ratio: 3/3;
    object-fit: contain;
}

#buttonsrc {
    border: none;
    background: none;
}


.Murid {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 5px;
}

.card {

    min-width: 420px;
    max-width: 421x;
    height: 550px;
    background: rgba(225, 225, 225, 0.366);
    text-align: center;
    color: #ffff;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(225, 225, 225, 0.2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Murid::-webkit-scrollbar {
    width: 0;

}

.Murid::-webkit-scrollbar-thumb {
    background-color: rgba(84, 84, 84, 0.767);
    border-radius: 10px;
}


.menu {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.setting {
    width: 65px;
    position: absolute;
    right: 40px;
    top: 20px;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
    margin-top: 40px;
    object-fit: cover;
    position: absolute;
    top: 40px;
}

#jayakun {
    position: absolute;
    top: 230px;
}

#devweb {
    position: absolute;
}

.medsos img {
    width: 35px;
    margin: 35px 8px;
    cursor: pointer;
    position: relative;
    top: 60px;
}


.profile-bottom {
    background: white;
    color: black;
    padding: 60px;
    border-radius: 20px;
    height: 140px;
    width: 420px;
    position: absolute;
    top: 410px;
    z-index: -1;
}


.Send-massage {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;

}

.btn {
    padding: 15px 60px;
    background: gold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    color: white;
    box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
}

.tombolSM {
    width: 240px;
    top: 380px;
    position: absolute;
    padding: 15px 60px;
    background: blue;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    color: white;
    box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
}

.popup {
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 20px 20px;
    color: #333;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
}

.open-popup {
    visibility: visible;
    top: 40%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
}

.popup img {
    width: 100px;
    margin-top: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.popup h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 25px 0 30px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.pilih-sebagai-apa {
    padding: 5px;
}